.IdeaMainSection {
  @include flex_col(stretch, stretch);

  header {
    @include flex_row(space-between);
    .ideMainTopLeftArea {
      gap: 15px;
      @include flex_row();
      .ideaMaintopButtonContainer {
        @include flex_row();
      }
    }
  }
  .subText {
    @include flex_row(stretch, center);
    padding: 9px 0px;
    .writtenDate {
      margin-left: 28px;
    }
  }
  .ideaBody {
    margin: 8px 0px 10px 0px;
    white-space: pre-wrap;
  }
  .moreButton {
    @include flex_row(stretch, stretch);
    padding: 0;
  }
  .labelArea {
    @include flex_row(stretch, center);
    margin: 34px 0px;
    .LabelTag ~ .LabelTag {
      margin-right: 0px 10px;
    }
  }
}
