.IdeaMainSection {
  @include flex_col(stretch, stretch);

  header {
    @include flex_row(space-between);
    .ideMainTopLeftArea {
      gap: 15px;
      @include flex_row();
      .ideaMaintopButtonContainer {
        @include flex_row();
      }
      @include mobile {
        width: 100%;
        @include flex_row(space-between);
      }
    }
    @include mobile {
      @include flex_col(stretch, flex-start);
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  .subText {
    @include flex_row(stretch, center);
    padding: 9px 0px;
    .writtenDate {
      margin-left: 28px;
    }
  }
  .ideaBody {
    margin: 8px 0px 10px 0px;
    white-space: pre-wrap;
    @include mobile {
      font-size: $font-size-x-medium;
    }
  }
  .moreButton {
    @include flex_row(stretch, stretch);
    padding: 0;
  }
  .labelArea {
    @include flex_row(stretch, center);
    margin: 34px 0px;
    flex-wrap: wrap;
    gap: 10px;

    .LabelTag ~ .LabelTag {
      margin-left: 0px;
    }

    .Button {
      color: $gray_7;
    }
  }
}
