.Alarm {
  &.Card {
    @include flex_col(space-between, stretch);

    width: 270px;
    min-height: 100px;
    padding: 1rem;

    .topArea {
      @include flex_row(stretch, center);

      gap: 0.5rem;

      .newCommentContainer {
        flex: none;
      }

      .postTypeContainer {
        flex: none;
      }

      .closeIconContainer {
        margin-left: auto;
      }
    }

    .ellipse {
      @include ellipse;
    }
  }
}
