.AlarmCard {
  &.alarmCardIsRead {
    opacity: 0.5;
  }

  @include hover_animation;

  cursor: pointer;

  &.Card {
    @include flex_col(space-between, stretch);

    width: 270px;
    min-height: 100px;
    padding: 11px 21px;

    .alarmCardTopArea {
      @include flex_row(space-between);

      .alarmCardTextArea {
        @include flex_row();
        gap: 17px;
      }
    }

    .alarmCardContentArea {
      @include flex_col(space-between, flex-start);
      height: 40px;

      .Typography {
        @include ellipse;
        width: 200px;
      }
    }
  }
}
