.MiddleArea {
  position: relative;
  width: 100%;

  .Typography {
    padding: 28px 19px 18px;

    border-bottom: 1px solid $gray_3;
  }

  img, .Lottie {
    position: absolute;

    width: 74px;
    height: 74px;
    right: 0px;
    top: -37px;
    border-radius: 100%;
  }

  .Lottie {
    position: absolute;

    width: 74px;
    height: 74px;
    right: 0px;
    top: -37px;
    border-radius: 100%;
  }
}
