.MySideList {
  @include flex_col(flex-start);
  width: 100%;

  .grid {
    @include flex_row(flex-start, flex-start);

    width: 100%;
    padding-top: 22px;

    gap: 30px;
    @include mobile {
      gap: 15px;
    }

    .gridColumn {
      @include flex_col(flex-start);
      background-clip: padding-box;
      > div {
        margin-bottom: 30px;
      }
    }
  }

  .mySideTypography {
    padding: 70px 0px;
  }
}
