.LabelTag {
  @include no-drag();
  @include flex_row();
  width: fit-content;
  padding: 0px 13px;
  border-radius: 15px;
  height: 17px;
  cursor: default;

  &.hashTag {
    cursor: pointer;
  }
  &.gray {
    background-color: $gray_7;
  }
  &.orange {
    background-color: $orange-1;
  }
  &.beige {
    background-color: $beige_0;
  }
  &.white {
    background-color: $white;
    border: 1px solid $dark_green;
  }
  &.pink {
    background-color: $pink_0;
  }
  &.red {
    background-color: $red_0;
  }
  &.blue {
    background-color: $blue_0;
  }
  &.purple {
    background-color: $purpe_0;
  }
  &.green {
    background-color: $green_0;
  }
  &.darkGreen {
    background-color: $dark_green;
  }


  & + & {
    margin-left: 10px;
  }

  &.isDeleteButton {
    position: relative;
    cursor: pointer;

    .Icon {
      position: absolute;
      top: 2px;
      right: 10px;

      &:hover {
        opacity: 0.5;
      }
    }
    .text {
      padding-right: 20px;
    }
  }

  .text {
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
    width: max-content;

    &.white {
      color: #ffffff;
    }
    &.orange {
      color: #e98c00;
    }
    &.green {
      color: $dark_green;
    }
  }
}
