.IdeaCard {
  display: flex;
  width: 100%;
  max-width: 1020px;
  padding: 21px 30px 12px 30px;
  @include flex_col(stretch, stretch);
  .moreButton {
    @include flex_row(stretch, stretch);
    padding: 0;
  }
  .buttonContainer {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 12px;
  }
  .ideaCommentSection {
    .CommentForm,
    .NestedCommentForm {
      padding: 25px 0px;
    }
    .CommentBox,
    .NestedCommentBox {
      padding: 15px 0px;
    }
    .CommentForm {
      border-top: 0.5px solid $gray_3;
    }
    .CommentBox,
    .NestedCommentBox,
    .NestedCommentForm ~ .CommentBox,
    .NestedCommentBox,
    .NestedCommentForm {
      border-top: 0.5px solid $gray_3;
    }
  }
}
