.SideEditPage {
  @include flex_col();

  width: 100%;

  .sideCardContainer {
    width: 100%;
    height: 100%;

    padding: 60px 150px;

    .topArea {
      position: relative;

      @include flex_row(space-between);
      width: 100%;

      backdrop-filter: blur(30px);

      .Typography {
        width: fit-content;
      }
    }

    .title {
      margin-top: 80px;
      width: 100%;
      border-bottom: 1px solid $gray_3;

      .Input {
        background-color: $white;
        width: 100%;
        height: auto;

        padding-left: 10px;
        padding-bottom: 8px;

        input {
          font-size: $font-size-xx-large;
          font-weight: bold;
        }
      }
    }

    .description {
      margin-top: 20px;
      margin-bottom: 38px;

      .Textarea {
        background-color: $white;
        border: 1px solid $gray_3;
        min-height: 55px;
        justify-content: flex-start;

        width: 100%;
      }
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 1.2fr;

      .each {
        display: grid;
        grid-template-columns: 105px 1fr;

        padding-bottom: 32px;

        .Button {
          cursor: default;
          font-size: 11px;
          font-weight: normal;
          color: #303030;
          background: #f4f8ff;
        }

        .teamAvailableCheckbox {
          @include flex_row(space-between);

          cursor: pointer;

          position: relative;

          width: 174px;
          height: 28px;
          background: $white;
          border: 1px solid $gray_3;
          box-sizing: border-box;
          border-radius: 15px;

          padding: 0px 8px 0px 14px;

          input {
            opacity: 0;
            cursor: pointer;
          }
        }

        .teamAvailableCheckmark {
          position: absolute;
          top: 5px;
          right: 11px;
          height: 14px;
          width: 14px;
          background-color: $white;
          border: 1px solid $gray_3;
          border-radius: 4px;
        }

        .teamAvailableCheckbox:hover input ~ .teamAvailableCheckmark {
          border-color: $primary_5;
        }

        .teamAvailableCheckbox input:checked ~ .teamAvailableCheckmark {
          background-color: $white;
        }

        .teamAvailableCheckmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        .teamAvailableCheckbox input:checked ~ .teamAvailableCheckmark:after {
          display: block;
        }

        .teamAvailableCheckbox .teamAvailableCheckmark:after {
          width: 8px;
          height: 8px;
          top: 3px;
          left: 3px;
          border-radius: 100%;
          background-color: #004ce5;
        }

        .contributors {
          @include flex_row(flex-start);
          flex-wrap: wrap;
          gap: 10px;
          width: 174px;

          img {
            width: 36px;
            height: 36px;

            border-radius: 100%;
          }

          .more {
            @include flex_row();
            width: 36px;
            height: 36px;

            border-radius: 100%;

            text-decoration: none;
            color: $black;
          }
        }

        .dropdownGroup {
          @include flex_row(flex-start);
          flex-wrap: wrap;

          gap: 23px;
          row-gap: 10px;

          .Dropdown {
            width: calc(33.3% - 16px);
            min-width: 100px;
            .DropdownButton,
            .DropdownLists {
              width: 100%;
              z-index: 10;
            }
          }
        }

        .Input {
          width: 100%;
        }
      }
    }

    .summary {
      .toastui-editor-defaultUI {
        border-radius: 15px;
        border: 1px solid $gray_3;
      }

      .toastui-editor-toolbar,
      .toastui-editor-mode-switch {
        display: none !important;
        height: 0;
      }
    }

    .buttonGroup {
      @include flex_row();

      margin: 120px 0px;

      gap: 10px;
    }
  }

  .scrollTopButton {
    position: fixed;
    bottom: 65px;
    right: 30px;
  }
}
