.IdeaPage {
  @include flex_col();
  width: 100%;

  .ideaCardContainer {
    width: 100%;
    max-width: 1800px;
    height: 100%;

    padding: 60px 150px;

    @include mobile {
      padding: 16px 16px 0px 16px;
      @include flex_col();
    }

    .topArea {
      position: relative;

      @include flex_row(space-between);
      width: 100%;

      backdrop-filter: blur(30px);

      .Typography {
        width: fit-content;
      }

      .searchArea {
        @include flex_row(flex-end);

        .ideaPageSeachbar {
          @include slide_keyframes;

          input {
            width: 150px;
          }

          &.activeAnimation {
            input:not(:focus) {
              animation-duration: 0.2s;
              animation-name: slideout;
            }

            input:focus {
              width: 300px;
              animation-duration: 0.2s;
              animation-name: slidein;
            }
          }
        }

        svg {
          cursor: pointer;
          padding: 0px 5.5px;
        }

        gap: 5px;

        .isDoneCheckbox {
          @include flex_row(space-between);

          position: relative;

          cursor: pointer;

          width: 141px;
          height: 28px;
          background: $white;
          border: 1px solid $gray_3;
          box-sizing: border-box;
          border-radius: 15px;

          padding: 0px 8px 0px 14px;

          input {
            opacity: 0;
            cursor: pointer;
          }
        }

        .isDoneCheckmark {
          position: absolute;
          top: 5px;
          right: 11px;
          height: 14px;
          width: 14px;
          background-color: $white;
          border: 1px solid $gray_3;
          border-radius: 4px;
        }

        .isDoneCheckbox:hover input ~ .isDoneCheckmark {
          border-color: $primary_5;
        }

        .isDoneCheckbox input:checked ~ .isDoneCheckmark {
          background-color: $white;
        }

        .isDoneCheckmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        .isDoneCheckbox input:checked ~ .isDoneCheckmark:after {
          display: block;
        }

        .isDoneCheckbox .isDoneCheckmark:after {
          width: 8px;
          height: 8px;
          top: 3px;
          left: 3px;
          border-radius: 100%;
          background-color: #004ce5;
        }
      }

      .searchArea ~ .searchArea {
        padding-right: 10px;
      }

      @include mobile {
        display: none;
      }
    }

    .HashTagBanner {
      @include mobile {
        display: none;
      }
    }

    .filterArea {
      @include flex_col();
      width: 100%;
      .filter {
        display: flex;
        justify-content: flex-end;

        width: 1020px;

        svg {
          margin-right: 6px;
          @include mobile {
            display: none;
          }
        }

        .seperator {
          cursor: default;
          padding: 0px 6px;
        }

        .Typography {
          cursor: pointer;
        }

        @include mobile {
          @include flex_row(flex-start);
          width: 100%;
          padding-bottom: 0px;
          .typoLike {
            display: none;
          }
        }
      }
    }
  }
  .scrollTopButton {
    position: fixed;
    bottom: 135px;
    right: 30px;

    &.changePosition {
      bottom: 65px;
    }

    @include mobile {
      display: none;
    }
  }

  .createSideButton {
    position: fixed;
    bottom: 65px;
    right: 30px;

    @include mobile {
      display: none;
    }
  }
}
