.DropdownLists {
  position: absolute;
  top: 34px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  min-width: 140px;

  .eachList {
    padding: 7px 11px 9px 14px;
    &:hover {
      background-color: $gray_2;
    }
    .checkboxContainer {
      @include flex_row(space-between, center);

      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;

      height: 14px;

      .Typography {
        @include ellipse;
      }

      input {
        opacity: 0;
        cursor: pointer;
      }
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 14px;
      width: 14px;
      background-color: $white;
      border: 1px solid $gray_3;
      border-radius: 4px;
    }

    .checkboxContainer:hover input ~ .checkmark {
      border-color: $primary_5;
    }

    .checkboxContainer input:checked ~ .checkmark {
      background-color: $white;
    }

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    .checkboxContainer input:checked ~ .checkmark:after {
      display: block;
    }

    .checkboxContainer .checkmark:after {
      width: 8px;
      height: 8px;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      background-color: #004ce5;
    }
  }

  .eachList ~ .eachList {
    border-top: 1px solid #e0e0e0;
  }
}
