.IdeaModalInner {
  @include flex_col(space-between);

  height: 350px;

  .titleArea {
    width: 100%;
  }

  .contentArea {
    @include flex_col();

    width: 100%;
    height: 250px;
    height: 100%;
    margin: 20px 0px;

    .Textarea {
      height: 100%;
      .textareaContainer {
        height: 100%;
        .textareaSection {
          height: 100% !important;
          max-height: 250px !important;
        }
      }
    }
  }

  .hashtagArea {
    width: 100%;
  }
}
