@keyframes slideinGnb {
  from {
    width: 0px;
  }

  to {
    width: 90%;
  }
}

.Gnb {
  display: none;

  @include mobile {
    @include flex_row(space-between);
  }

  position: fixed;
  top: 0;

  z-index: 10;

  width: 100%;
  height: 59px;
  background-color: $white;

  padding: 0px 16px;

  transition: transform 150ms ease-in-out;

  &.isActiveGnb {
    transform: translateY(-100%);
  }

  .gnbButtonArea {
    @include flex_row();
    width: 40px;
  }

  .gnbSearchbar {
    input {
      width: 90%;
    }

    &.gnbActiveAnimation {
      width: 90%;
      animation-duration: 0.2s;
      animation-name: slideinGnb;
    }
  }

  .gnbIconContainer {
    @include flex_row(flex-end);

    :last-child {
      padding-left: 12px;
    }
  }

  svg {
    cursor: pointer;
  }
}
