// Primary Blue
$blue_0: #f3f9ff;
$blue_1: #e6f2ff;
$blue_2: #c5e1ff;
$blue_3: #92c7ff;
$blue_4: #5facff;
$blue_5: #1184ff;
$blue_6: #0c6cd3;
$blue_7: #004c9e;
$blue_8: #003267;

// Gray
$white: #fff;
$black: #000;
$gray_0: #f9f9fb;
$gray_1: #efeff2;
$gray_2: #ebebee;
$gray_3: #e0e0e5;
$gray_4: #cacacc;
$gray_5: #b1b1b3;
$gray_6: #767679;
$gray_7: #444348;
$gray_8: #15141a;
$blue_gray: #8f8f9c;

// System Color
$active_green: #69db7c;
$inactive_red: #ff8787;
$warning-red-1: #fff0ee;
$warning-red-2: #f8d0d1;

// Green
$green: #34c759;
$thumbs-green: #40c057;
$text-green: #00a21d;

// Red
$red-5: #ff6b6b;
$red-6: #fa5252;
$red-7: #f03e3e;
$red-8: #e03131;
$red-9: #c92a2a;
$red-10: #a51111;

// Orange
$orange-1: #ffece2;
$interview-orange-7: #f38119;

// Refferal Color
$referral-blue_1: #e8eff7;
$referral-blue_7: #1864ab;
