@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Modal {
  @include flex_col();

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(#000, 0.4);
  user-select: none;

  &.fadein {
    animation: fadein 1s;
  }

  &.fadeout {
    animation: none;
  }

  .Card {
    @include flex_col();

    position: relative;
    min-width: 388px;
    min-height: 200px;
    max-height: 50%;

    padding: 16px;

    &.isWide {
      max-width: 1020px;
      width: 80%;
    }

    .closeButton {
      @include flex_col();

      position: absolute;
      top: calc((42px - 28px) / 2);
      right: 12px;

      width: 28px;
      height: 28px;
    }
  }

  .modalHeader {
    @include flex_row();

    padding-bottom: 16px;
    width: 100%;

    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    border-bottom: 1px solid $blue_active;
  }

  .modalContent {
    text-align: center;

    font-size: 11px;
    color: $gray_7;

    margin: 35px 0px;
    width: 100%;

    overflow-y: auto;
  }

  .footer {
    @include flex_row();

    background-color: $white;
    border-radius: 0 0 10px 10px;

    button ~ button {
      margin-left: 10px;
    }
  }
}
