.MyPage {
  @include flex_col();

  width: 100%;

  .myPageContainer {
    width: 100%;
    max-width: 1800px;
    height: 100%;

    padding: 60px 150px 0px;

    @include mobile {
      padding: 16px 16px;
      @include flex_col();
    }

    .topArea {
      position: relative;

      @include flex_row(space-between);
      width: 100%;

      .Typography {
        width: fit-content;
      }
    }

    .infoContainer {
      @include flex_col();

      padding-top: 60px;
      padding-bottom: 55px;

      gap: 17px;

      .buttonArea {
        @include flex_row(flex-end, flex-end);
        width: 660px;

        gap: 17px;

        > button {
          color: $gray_6;
          > span {
            font-size: 12px;
          }
        }
      }
    }

    .alertContainer {
      width: auto;

      .alertTitle {
        @include flex_col(center, flex-start);
        width: 100%;
      }
      .alarmCardArea {
        @include flex_row(flex-start);
        padding: 32px 5px;
        margin-bottom: 50px;
        overflow-x: auto;
        gap: 20px;
        .myAlarmTypography {
          @include flex_row();
          width: 100%;
          padding: 37px 0px;
        }
      }
    }

    .myContentContainer {
      @include flex_col();
      width: 100%;
      .tabArea {
        @include flex_row(flex-start);
        gap: 20px;
        width: 100%;

        .Button {
          padding: 0;
        }

        margin-bottom: 32px;
      }
      .SideList {
        padding-top: 10px;
      }
    }

    .editInfoContainer {
      margin-top: 57px;
      width: 100%;

      .editInfoButtonArea {
        @include flex_row();
        width: 100%;
        margin-top: 63px;
        gap: 60px;

        .editInfoButton {
          @include flex_row();

          cursor: pointer;

          width: 100%;
          height: 210px;
          border: 1px solid $gray_3;
          box-sizing: border-box;
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.05);
          border-radius: 20px;

          &:hover {
            border-color: $primary_5;
            .Typography {
              color: $primary_5;
            }
          }
        }
      }

      .editNickname {
        @include flex_row(flex-start);
        margin-top: 70px;

        display: grid;
        grid-template-columns: 70px 1fr;

        .Input {
          width: 258px;
          margin-right: 58px;
        }

        .editNicknameLastCol {
          @include flex_row(flex-start);
          gap: 10px;
        }
      }

      .editPassword {
        @include flex_col(flex-start, flex-start);
        margin-top: 70px;

        gap: 15px;
        .editPasswordRow {
          @include flex_row(flex-start);

          display: grid;
          grid-template-columns: 90px 1fr;

          .Input {
            width: 258px;
            margin-right: 58px;
          }

          .editPasswordLastCol {
            @include flex_row(flex-start);
            gap: 10px;
          }
        }
      }

      .editInfoBottomButtonArea {
        @include flex_row();
        width: 100%;
        margin-top: 240px;
      }
    }
  }

  .scrollTopButton {
    position: fixed;
    bottom: 65px;
    right: 30px;
  }
}
