.LikeButton {
  &.highlight {
    .heartIcon > path {
      fill: $pink-0;
    }
  }
  &.disabled {
    opacity: 1;
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }
  .likeButtonContent {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
    align-items: center;
  }
}
