.IdeaBottomSection {
  .CommentForm,
  .NestedCommentForm,
  .SimilarForm {
    padding: 25px 0px;
    @include mobile {
      padding: 23px 21px;
      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
  .CommentBox,
  .NestedCommentBox,
  .SimilarBox {
    padding: 15px 0px;
  }
  .CommentForm,
  .SimilarForm {
    border-bottom: 0.5px solid $gray_3;
    @include mobile {
      padding: 23px 21px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .SimilarBox,
  .CommentBox,
  .NestedCommentBox,
  .NestedCommentForm ~ .CommentBox,
  .NestedCommentBox,
  .NestedCommentForm,
  .CommentBox,
  .SimilarBox {
    border-bottom: 0.5px solid $gray_3;
    @include mobile {
      padding: 23px 21px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 20px;
      }
    }
  }
}
