.SidePage {
  @include flex_col();

  width: 100%;

  .sideCardContainer {
    width: 100%;
    height: 100%;

    padding: 60px 150px;

    @include mobile {
      padding: 16px 16px;
      @include flex_col();
    }

    .sidePageTopArea {
      position: relative;

      @include flex_row(space-between);
      width: 100%;

      backdrop-filter: blur(30px);

      z-index: 100;

      &.isGithubVisible {
        z-index: 0;
      }

      .Typography {
        width: fit-content;
      }

      .searchArea {
        @include flex_row(flex-end);

        .settingIcon {
          @include tablet {
            display: none;
          }
          @include mobile {
            display: none;
          }
        }

        .sideFilter {
          @include flex_row();
          gap: 5px;
          @include tablet {
            display: none;
          }
          @include mobile {
            display: none;
          }
        }

        .sidePageSeachbar {
          @include slide_keyframes;

          input {
            width: 150px;
          }

          &.activeAnimation {
            input:not(:focus) {
              animation-duration: 0.2s;
              animation-name: slideout;
            }

            input:focus {
              width: 300px;
              animation-duration: 0.2s;
              animation-name: slidein;
            }
          }
        }

        svg {
          cursor: pointer;
          padding: 0px 5.5px;
        }

        gap: 5px;

        .teamAvailableCheckbox {
          @include flex_row(space-between);

          position: relative;

          cursor: pointer;

          width: 141px;
          height: 28px;
          background: $white;
          border: 1px solid $gray_3;
          box-sizing: border-box;
          border-radius: 15px;

          padding: 0px 8px 0px 14px;

          input {
            opacity: 0;
            cursor: pointer;
          }
        }

        .teamAvailableCheckmark {
          position: absolute;
          top: 5px;
          right: 11px;
          height: 14px;
          width: 14px;
          background-color: $white;
          border: 1px solid $gray_3;
          border-radius: 4px;
        }

        .teamAvailableCheckbox:hover input ~ .teamAvailableCheckmark {
          border-color: $primary_5;
        }

        .teamAvailableCheckbox input:checked ~ .teamAvailableCheckmark {
          background-color: $white;
        }

        .teamAvailableCheckmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        .teamAvailableCheckbox input:checked ~ .teamAvailableCheckmark:after {
          display: block;
        }

        .teamAvailableCheckbox .teamAvailableCheckmark:after {
          width: 8px;
          height: 8px;
          top: 3px;
          left: 3px;
          border-radius: 100%;
          background-color: #004ce5;
        }
      }

      .searchArea ~ .searchArea {
        padding-right: 10px;
      }

      @include mobile {
        display: none;
      }
    }

    .filterArea {
      padding-top: 67px;
      padding-bottom: 22px;

      @include flex_row(flex-end);

      @include mobile {
        @include flex_row(flex-start);
        width: 318px;
        padding-top: 24px;
        padding-bottom: 17px;
      }

      svg {
        margin-right: 6px;
        @include mobile {
          display: none;
        }
      }

      column-gap: 6px;

      .seperator {
        cursor: default;
      }

      .Typography {
        cursor: pointer;
      }
    }
  }

  .scrollTopButton {
    position: fixed;
    bottom: 135px;
    right: 30px;

    &.changePosition {
      bottom: 65px;
    }

    @include mobile {
      display: none;
    }
  }

  .createSideButton {
    position: fixed;
    bottom: 65px;
    right: 30px;

    @include mobile {
      display: none;
    }
  }
}
