.Sidebar {
  @include flex_col();

  width: 120px;
  height: 100%;

  background-color: $gray_1;

  .tabContainer {
    @include flex_col(space-between);

    height: calc(100% - 120px);

    .upperArea {
      .tabButton {
        margin-bottom: 30px;
        .Button {
          span {
            @include flex_col();

            width: 100%;
          }

          svg {
            width: 60px;
            height: 60px;

            margin-bottom: 10px;
          }
        }
      }
    }

    .downArea {
      @include flex_col(center, flex-start);

      width: 100%;

      .authButton {
        .Button {
          span {
            @include flex_row(space-between);
            .isNotificationExist {
              background-color: $blue_active;
              width: 8px;
              height: 8px;
              border-radius: 8px;
            }
            gap: 4px;
          }
        }
      }

      > div > button:first-child {
        margin-bottom: 4px;
      }
    }
  }
}
