.SideGithubModal {
  @include modal_wrapper();

  .alertCard {
    z-index: $modal-depth;
    position: relative;
    min-width: 388px;
    min-height: 200px;
    max-height: 50%;
    
    @include mobile {
      min-width: 350px;
    }

    padding: 20px;
  }

  .content {
    @include flex_col();

    font-size: 11px;
    color: $gray_7;

    margin: 35px 0px;
    width: 100%;

    overflow-y: auto;

    gap: 18px;

    .Input {
      width: 266px;
    }
  }
}
